/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
 
  
} */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
}

header {
  margin-top: 30px;
}

main {
  display: grid;
  grid-template-areas: 
  'a a b'
  'c d d'
  'c e e'
  ;
  gap: 15px;
  width: 60%;
  margin: auto;
}

div {
  padding: 2em;
  text-align: center;
}

.first {
  background-color: #FF5722;
  grid-area: a;
  height: 200px;
}

.second {
  background-color: #FF8E00;
  grid-area: b;
  height: 200px;
}

.third {
  background-color: #0B8457;
  grid-area: c;
  height: 250px;
}

.fourth {
  background-color: #34B3F1;
  grid-area: d;
}

.fifth {
  background-color: #34B3F1;
  grid-area: e;
}



@media (max-width: 760px) {
  main {
      width: 70%
  }
          
  .first {
      height: 80px;
  }

  .second {
      height: 80px;
  }

  .third {
      height: 80px;
  }
}






